body{
  background: #F9CFCF;
}

.vertical-center {
  min-height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
}

.title-index, .room-title{
  margin-bottom: 35px; color: rgba(236, 95, 95, 1);
}

.label-title-index{
  color: #EC5F5F;
}

.messages p {
  margin: 6px 0;
}

/*Style Focus Input Index*/
textarea:focus,
input[type="text"]:focus,
.uneditable-input:focus {
  border-color: rgba(236, 95, 95, 0.5);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(236, 95, 95, 1);
  outline: 0 none;
}
